p.mainLine {
    display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 200px;
  }

p.author {
  display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
    padding: 0px;
}

p.disclaimer {
  display: block;
    color: rgba(0,0, 0, .5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6pt;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 500px;

}