p.mainLine {
    display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    padding-bottom: 0px;
  }

p.author {
  display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
    padding: 0px;
}